<%- include(headerPath) %>

<div class="container">
    <h1><%= pluginName %> Configuration</h1>

    <form action="/admin/plugins/email-popup" method="POST">
        <div>
            <label for="isEnabled">
                <input type="checkbox" id="isEnabled" name="isEnabled" <%= isEnabled ? 'checked' : '' %>>
                Enable Plugin
            </label>
        </div>
        <button type="submit">Update Configuration</button>
    </form>
</div>

<%- include(footerPath) %>


